---
- import_playbook: ../99-utils/kube-connect.yml
- name: Deploy MetalLB via Helm
  hosts: k8s
  gather_facts: false

  tasks:
  - name: Add MetalLB Helm repository
    kubernetes.core.helm_repository:
      name: metallb
      repo_url: https://metallb.github.io/metallb
      state: present
      force_update: true

  - name: Create MetalLB namespace
    kubernetes.core.k8s:
      api_version: v1
      kind: Namespace
      name: "{{ metallb.namespace }}"
      state: present
      wait: true

  - name: Deploy MetalLB via Helm
    kubernetes.core.helm:
      name: "{{ metallb.release_name_prefix }}-main"
      chart_ref: "metallb/metallb"
      chart_version: "{{ chart_versions.metallb }}"
      namespace: "{{ metallb.namespace }}"
      create_namespace: false
      values_files: 
      - "{{ playbook_dir }}/metallb-values.yaml"
      state: present
      wait: true
      timeout: "120s"

  - name: Deploy MetalLB configuration via Helm chart
    kubernetes.core.helm:
      name: "{{ metallb.release_name_prefix }}-post"
      chart_ref: "{{ playbook_dir }}/charts/h3xinfra-metallb-post"
      namespace: "{{ metallb.namespace }}"
      create_namespace: false
      values:
        fullnameOverride: "{{ metallb.release_name_prefix }}-post"
      set_values:
      - value: "ipPool.ipAddressPools.addresses.ipv4={{ metallb.loadbalancer_pools.ipv4 }}"
        value_type: string
      - value: "ipPool.ipAddressPools.addresses.ipv6={{ metallb.loadbalancer_pools.ipv6 }}"
        value_type: string
      state: present
      wait: true
      timeout: "120s"
